*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #faefe5;
}
.container{
    text-align: center;
    padding: 5%;
}
.container h2{
    margin-bottom: 5%;
    font-size: 50px;
    font-family: Raleway;
    font-weight: 200;
}